<nav class="navigation">
    <a routerLink="/homepage">homepage</a>
    <a routerLink="/loading" class="nav-link">Chargement d'image</a>
    <a routerLink="/printing" class="nav-link">Impression</a>
    <a routerLink="/prepaid-tariffs-telefonica" class="nav-link">Choix du forfait Telefonica</a>
</nav>

<h1>Elige la tarifa prepago</h1>
<h3>que más te convenga</h3>
<div id="allPossibility">
    <div class="allPossibilityItems">
        <img src="../../assets/Habla-6.png" alt="" loading="lazy">
    </div>
    <div class="allPossibilityItems">
        <img src="../../assets/Prepago-Plus.png" alt="" loading="lazy">
    </div>
    <div class="allPossibilityItems" >
        <img src="../../assets/Prepago-Premium.png" alt="" loading="lazy">
    </div>
    <div class="allPossibilityItems" >
        <img src="../../assets/Prepago-Total.png" alt="" loading="lazy">
    </div>
</div>
