<nav class="navigation">
  <a routerLink="/homepage" class="nav-link">homepage</a>
  <a routerLink="/loading" class="nav-link">Chargement d'image</a>
  <a routerLink="/printing" class="nav-link">Impression</a>
  <a routerLink="/prepaid-tariffs-telefonica" class="nav-link">Choix du forfait Telefonica</a>
</nav>
<div class="container">
    <div class="row">
      <div >
        <img src="../../assets/AllerSimple.png" alt="simple"  loading="lazy">
      </div>
      <div >
        <img src="../../assets/AllerRetour.png" alt="allerRetour" loading="lazy">
      </div>
      <div>
        <img src="../../assets/Carnet10tickets.png" alt="10tickets" loading="lazy">
      </div>
    </div>
    <div class="row">
        <div >
          <img src="../../assets/Abonnement1AN.png" alt="24H" loading="lazy">
        </div>
        <div >
          <img src="../../assets/Abonnement1MOIS.png" alt="48H" loading="lazy">
        </div>
        <div>
          <img src="../../assets/Abonnement1SEM.png" alt="72H" loading="lazy">
        </div>
      </div>
  </div>